{% extends 'base.html.twig' %}
{% block body %}

{% if app.user and is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
    <h1>Se désabonner</h1>
    {{ form(createUserForm) }}
{% else %}
    <p>Vous n'êtes pas connecté</p>
    <a href=" {{ path('home') }} ">Retour à la page d'accueil</a>
{% endif %}

{% endblock %}