{% extends 'base.html.twig' %}

{% block body %}
    <h2>validation de la commande</h2>
    
    {{ form(createSpotForm, {'attr' : {novalidate : 'novalidate'}}) }}

    <a href="{{ path('catalogue') }}" class="btn btn-default">retour au catalogue</a>

    
{% endblock %}