{% extends 'base.html.twig' %}
{% block body %}

    {% for order in orders %}
        
        {% if  order.order.user.id == app.user.id %}

            <article class="test"><img class="cover" src="{{asset('images/Couvertures/'~order.book.cover)}}" alt="cover">{{order.dateOrder|date("d-m-Y")}}
            {{order.book.title}}

            <button data-remove={{path("panier_delete",{id:order.order.id})}} class="panier_delete">retirer du panier</button></article>
        
        {% endif %}

    {% endfor %}

{% endblock %}