{% extends 'base.html.twig' %}

{% block body %}
    <ul id="reglement">
        <li>10 BD maximum par location (pas de minimum)</li>
        <li>Les locations sont d’une durée maximale de 2 semaines (pas de minimum), de la date de réception en point au relais, à la date de dépot (pour le retour) en point relais</li>
        <li>Les frais de retard sont de 10 centimes par BD, par jour</li>
        <li>bdloc.fr se réserve le droit de réclamer des frais pour BD endommagée</li>
        <li>Les frais de retard ou de dédommagement doivent être réglés avant de pouvoir relouer de nouvelles BD</li>
    </ul>
{% endblock %}