{% extends 'base.html.twig' %}

{% block body %}

    <h2>Nos meilleurs Bandes-Dessinées</h2>

    <article>
        <h3>{{ book.title }}</h3>
        <p>Editeur {{ book.editor }}</p>
    </article>
    
{% endblock %}